pynamodb==5.4.1
jsonschema==4.17.3
aws-lambda-powertools==2.12.0
dataclasses-json==0.5.7
pytest==7.3.0
pytest-mock==3.10.0
boto3==1.26.111
pytest==7.3.0
pytest-mock==3.10.0
coverage==5.4
moto==1.3.16
pytest-cov==2.11.1
